<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Loja</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../../assets/Logo.png"  class="center">       
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Em desenvolvimento...</ion-card-subtitle>      
    </ion-card-header>  
    <ion-card-content>
      <img src="../../../assets/store.png" class="center" style="height: 200px; width: 300px;">
    </ion-card-content>
  </ion-card>
  
</ion-content>
