<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <img src="../../../assets/Logo.png" class="center">

  <div *ngIf="isEmpty() && !showCadastroPet">
    <img src="../../../assets/img-dog-home.png" class="center" style="margin-top: 40px;">
    <ion-label class="center" style="font-size: 14px; margin-top: 50px; align-items: center; font-weight:bold;">Adicione seu primeiro Pet</ion-label><br>
  </div>

  <div *ngIf="!isEmpty() && !showCadastroPet">
    <ion-list *ngFor="let item of pets">
      <ion-item detail (click)="teste()">
        <ion-avatar slot="start">
          <img src="https://cdn-icons-png.flaticon.com/512/194/194279.png">
        </ion-avatar>
        <ion-label>
          <h2>{{item.nome}}</h2>
          <p>{{item.raca}} | {{item.porte}} | {{item.sexo}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <!-- </div> -->

  <!-- Botão para adicionar Novo Pet -->
  <div (click)="novoPet()" *ngIf="!showCadastroPet">
    <img class="center" src="../../../assets/img-add-home.png" style="width: 80px; height: 80px">
  </div>

  <!-- Tela de Cadastro de Pet -->
  <div *ngIf="showCadastroPet">
   <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Informe os dados do seu Pet</ion-card-subtitle>
    </ion-card-header>
    <!-- <form id="frm"> -->
    <!-- <form [formGroup]="petForm" (ngSubmit)="onPetFormSubmit()"> -->
    <ion-card-content>
      <ion-item>
        <ion-label>Nome / Apelido</ion-label>
        <ion-input id="nome" type="text" [(ngModel)]="pet.nome"></ion-input>
        <!-- <input type="text" [formControl]="petForm.nome"> -->
        <!-- <input [(ngModel)]="pet.nome" name="nome"> -->
      </ion-item>
      <ion-item>
        <ion-label>Nascimento</ion-label>
        <ion-input value="{{ date | date: 'dd.MM.yyyy' }}" id="date" class="ion-text-end"
          [(ngModel)]="pet.dataNascimento">
        </ion-input>
        <ion-icon name="calendar"></ion-icon>
        <ion-popover trigger="date" size="left">
          <ng-template>
            <ion-datetime presentation="date" [(ngModel)]="date" locale="pt-BR"></ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>
      <ion-item>
        <ion-label>Sexo</ion-label>
        <ion-list>
          <ion-item>
            <ion-select id="sexo" placeholder="Selecione..." [(ngModel)]="pet.sexo">
              <ion-select-option value="Macho">Macho</ion-select-option>
              <ion-select-option value="Fêmea">Fêmea</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-item>
      <ion-item>
        <ion-label>Tipo Sanguíneo</ion-label>
        <ion-item>
          <ion-select placeholder="Selecione..." [(ngModel)]="pet.tipoSanguineo">
            <ion-select-option value="A+">A+</ion-select-option>
            <ion-select-option value="A-">A-</ion-select-option>
            <ion-select-option value="B+">B+</ion-select-option>
            <ion-select-option value="B-">B-</ion-select-option>
            <ion-select-option value="O+">O+</ion-select-option>
            <ion-select-option value="O-">O-</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-item>
      <ion-item>
        <ion-label>Porte</ion-label>
        <ion-select placeholder="Selecione..." [(ngModel)]="pet.porte">
          <ion-select-option value="Pequeno">Pequeno</ion-select-option>
          <ion-select-option value="Médio">Médio</ion-select-option>
          <ion-select-option value="Grande">Grande</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Raça</ion-label>
        <ion-select placeholder="Selecione..." [(ngModel)]="pet.raca">
          <ion-select-option value="PitBull">PitBull</ion-select-option>
          <ion-select-option value="Rotweiller">Rotweiller</ion-select-option>
          <ion-select-option value="Labrador">Labrador</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Disponivel para adoção</ion-label>
        <ion-toggle [(ngModel)]="pet.disponivelAdocao"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Disponivel para cruzamento</ion-label>
        <ion-toggle [(ngModel)]="pet.disponivelCruzamento"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Disponivel para mãe de leite</ion-label>
        <ion-toggle [(ngModel)]="pet.disponivelMaeDeLeite"></ion-toggle>
      </ion-item>
      <ion-button (click)="cadastrarPet()" style="margin-top: 20px;" color="success" class="center">Salvar</ion-button>
      <!-- <button>CREATE</button> -->
    </ion-card-content>
    <!-- </form> -->
  </ion-card>
</div>

</ion-content>