<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Minha Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>      
    <img src="../../../assets/Logo.png"  class="center">     
    <ion-card>
        <ion-item>
            <ion-label position="fixed">Nome</ion-label>
            <ion-input type="text" aria-readonly="false" [(ngModel)]="nome">&nbsp; {{globalStorage.nome}}</ion-input>                
        </ion-item>
        <ion-item>
            <ion-label position="fixed">E-mail</ion-label>
            <ion-input type="email" [(ngModel)]="email">&nbsp; {{globalStorage.email}}</ion-input>                
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Senha</ion-label>
          <ion-input type="password" [(ngModel)]="senha"></ion-input>                
      </ion-item>      
      <ion-button (click)="salvar()" style="margin-top: 20px;" color="success" class="center">Salvar</ion-button>    
      <br>
    </ion-card>
</ion-content>
